apiVersion: install.istio.io/v1alpha1
kind: IstioOperator
metadata:
  name: istio-custom-install
  namespace: istio-system
spec:
  profile: default
  components:
    ingressGateways:
      - name: istio-ingressgateway
        enabled: true
        k8s:
          service:
            type: LoadBalancer
            loadBalancerIP: "192.168.56.95"
