app:
  image:
    repository: ghcr.io/doda2025-team4/app
    tag: "latest"
    pullPolicy: IfNotPresent
  replicaCount: 1
  canary:
    enabled: true
    replicaCount: 1
    image:
      repository: ghcr.io/doda2025-team4/app
      tag: "v0.4.0-canary.2"
      pullPolicy: IfNotPresent
  hostname: "dodateam4-app"
  env:
    serverPort: 8080
  service:
    type: ClusterIP
    port: 8080

model:
  image:
    repository: ghcr.io/doda2025-team4/model-service
    tag: "latest"
    pullPolicy: IfNotPresent
  replicaCount: 1
  canary:
    enabled: true
    replicaCount: 1
    image:
      repository: ghcr.io/doda2025-team4/model-service
      tag: "v1.3.0-canary.1"
      pullPolicy: IfNotPresent
    env:
      modelURL: "https://github.com/doda2025-team4/model-service/releases/download/v1.3.0-canary.1/model.joblib"
      preprocessorURL: "https://github.com/doda2025-team4/model-service/releases/download/v1.3.0-canary.1/preprocessor.joblib"
  env:
    port: 8081
    modelDir: "/model-storage"
    modelFile: "model.joblib"
    preprocessorFile: "preprocessor.joblib"
    modelURL: "https://github.com/doda2025-team4/model-service/releases/download/model-20251211-135427/model.joblib"
    preprocessorURL: "https://github.com/doda2025-team4/model-service/releases/download/model-20251211-135427/preprocessor.joblib"
  service:
    type: ClusterIP
    port: 8081

smtpSecret:
  create: false
  name: alertmanager-smtp
  smtpPassword: ""

ingress:
  enabled: false
  className: ""
  hosts:
    - host: "CHANGE-ME.example.com"
      path: /
  tls: []

monitoring:
  enabled: true
  
  alertmanager:
    enabled: true # check if needed
    alertmanagerSpec:
      secrets:
        - alertmanager-smtp
    config:
      global:
        resolve_timeout: 5m
        smtp_smarthost: "smtp.gmail.com:587"
        smtp_from: "doda.team4.alerts@gmail.com"
        smtp_auth_username: "doda.team4.alerts@gmail.com"
        smtp_auth_password_file: "/etc/alertmanager/secrets/alertmanager-smtp/SMTP_PASSWORD"
      route:
        receiver: "email-alert"
        group_by:
          - namespace
          - alertname
        group_wait: 5s
        group_interval: 1m
        repeat_interval: 5m
        routes:
          - matchers:
              - namespace="doda"
            receiver: "email-alert"
          - matchers:
              - namespace!="doda"
            receiver: "null"
      receivers:
        - name: "null"
        - name: "email-alert"
          email_configs:
            - to: "replace@me.please"
              send_resolved: true

  prometheusOperator:
    podAnnotations:
      sidecar.istio.io/inject: "false"
    admissionWebhooks:
      patch:
        podAnnotations:
          sidecar.istio.io/inject: "false"
      create:
        podAnnotations:
          sidecar.istio.io/inject: "false"

istio:
  enabled: true
  ingressGateway:
    selectorLabelKey: istio
    selectorLabelValue: ingressgateway

  globalRateLimit:
    enabled: true
    istioNamespace: istio-system
    domain: sms-ratelimit
    requestsPerUnit: 10
    unit: minute

  gateway:
    name: sms-gateway

  hosts:
    stable: "sms.local"
    preview: "sms-preview.local"

  canary:
    weight: 10
    cookieName: "user-experiment"
    cookieMaxAgeSeconds: 1800
  grafana:
    sidecar:
      dashboards:
        enabled: true
        label: grafana_dashboard
        labelValue: "1"
        searchNamespace: ALL

