app:
  image:
    repository: ghcr.io/doda2025-team4/app
    tag: "latest"
    pullPolicy: IfNotPresent
  replicaCount: 1
  hostname: "dodateam4-app"
  env:
    serverPort: 8080
  service:
    type: ClusterIP
    port: 8080

model:
  image:
    repository: ghcr.io/doda2025-team4/model-service
    tag: "latest"
    pullPolicy: IfNotPresent
  replicaCount: 1
  env:
    port: 8081
    modelDir: "/model-storage"
    modelFile: "model.joblib"
    preprocessorFile: "preprocesser.joblib"
    modelURL: "https://github.com/doda2025-team4/model-service/releases/download/model-20251211-135427/model.joblib"
    preprocessorURL: "https://github.com/doda2025-team4/model-service/releases/download/model-20251211-135427/preprocessor.joblib"
  service:
    type: ClusterIP
    port: 8081

ingress:
  enabled: false
  className: ""
  hosts:
    - host: "CHANGE-ME.example.com"
      path: /
  tls: []

alerting:
  enabled: true
  alertmanagerImage: "quay.io/prometheus/alertmanager:v0.27.0"
  smtp:
    host: "smtp.gmail.com:587"
    username: "temp@tempmail.com"
    # password is stored in secret-config Secret as SMTP_PASSWORD
    from: "placeholder@tempmail.com"
    to: "placeholder@tempmail.com"
monitoring:
  enabled: true
