127.0.0.1 localhost

{% for host in groups['ctrl'] %}
{{ hostvars[host].ansible_host }} {{ host }}
{% endfor %}

{% for i in range(1, worker_count + 1) %}
192.168.56.{{ 100 + i }} node-{{ i }}
{% endfor %}
