{{- if .Values.smtpSecret.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.smtpSecret.name | quote }}
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  SMTP_PASSWORD: {{ required "smtpSecret.smtpPassword is required when not using existing secret" .Values.smtpSecret.smtpPassword | quote }}
{{- end }}
