# app-deployment.yml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
spec:
  selector:
    matchLabels:
      app: app-service
  template:
    metadata:
      labels:
        app: app-service
    spec:
      hostname: {{ .Values.app.hostname }}
      containers:
        - name: app-container
          image: ghcr.io/doda2025-team4/app:latest
          env:
            - name: SERVER_PORT
              valueFrom:
                configMapKeyRef:
                  name: environment-config
                  key: SERVER_PORT

            - name: MODEL_HOST
              value: "http://model-service:{{ .Values.model.env.port }}"

          ports:
            - containerPort: {{ .Values.app.env.serverPort }}
