# app-deployment.yml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
spec:
  replicas: {{ .Values.app.replicaCount }}
  selector:
    matchLabels:
      app: app-service
      version: stable
  template:
    metadata:
      labels:
        app: app-service
        version: stable
    spec:
      hostname: {{ .Values.app.hostname }}
      containers:
        - name: app-container
          image: "{{ .Values.app.image.repository }}:{{ .Values.app.image.tag }}"
          imagePullPolicy: {{ .Values.app.image.pullPolicy }}
          env:
            - name: SERVER_PORT
              valueFrom:
                configMapKeyRef:
                  name: environment-config
                  key: SERVER_PORT

            - name: MODEL_HOST
              value: "http://model-service:{{ .Values.model.env.port }}"

          ports:
            - containerPort: {{ .Values.app.env.serverPort }}
