# app-deployment-canary.yml
{{- if and .Values.istio.enabled .Values.app.canary.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment-canary
spec:
  replicas: {{ .Values.app.canary.replicaCount }}
  selector:
    matchLabels:
      app: app-service
      version: canary
  template:
    metadata:
      labels:
        app: app-service
        version: canary
    spec:
      containers:
        - name: app-container
          image: ghcr.io/doda2025-team4/app:latest
          env:
            - name: SERVER_PORT
              valueFrom:
                configMapKeyRef:
                  name: environment-config
                  key: SERVER_PORT

            - name: MODEL_HOST
              value: "http://model-service:{{ .Values.model.env.port }}"

          ports:
            - containerPort: {{ .Values.app.env.serverPort }}
{{- end }}
