{{- if and .Values.istio.enabled .Values.model.canary.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: environment-config-model-canary
data:
  MODEL_SERVICE_PORT: "{{ .Values.model.env.port }}"
  MODEL_DIR: "{{ .Values.model.env.modelDir }}"
  MODEL_FILE: "{{ .Values.model.env.modelFile }}"
  PREPROCESSOR_FILE: "{{ .Values.model.env.preprocessorFile }}"
  MODEL_URL: "{{ .Values.model.canary.env.modelURL }}"
  PREPROCESSOR_URL: "{{ .Values.model.canary.env.preprocessorURL }}"
{{- end }}
