---
- hosts: all
  become: yes

  tasks:

  # STEP 20 — MetalLB Installation
    - name: Ensure MetalLB directory exists on controller
      file:
        path: /home/vagrant/metallb
        state: directory
        owner: vagrant
        group: vagrant
        mode: "0755"

    - name: Copy MetalLB main manifest to controller
      copy:
        src: ../k8s/metallb/metallb-native-0.14.9.yml
        dest: /home/vagrant/metallb/metallb-native-0.14.9.yml
        owner: vagrant
        group: vagrant
        mode: "0644"

    - name: Apply MetalLB CRDs and components
      kubernetes.core.k8s:
        state: present
        src: /home/vagrant/metallb/metallb-native-0.14.9.yml
        kubeconfig: /home/vagrant/.kube/config

    - name: Wait for MetalLB controller to be ready
      kubernetes.core.k8s_info:
        kind: Pod
        namespace: metallb-system
        label_selectors:
          - app=metallb
          - component=controller
        kubeconfig: /home/vagrant/.kube/config
        wait: yes
        wait_condition:
          type: Ready
          status: "True"
        wait_timeout: 120

    - name: Copy MetalLB IPAddressPool manifest
      copy:
        src: ../k8s/metallb/ipaddresspool.yml
        dest: /home/vagrant/metallb/ipaddresspool.yml
        owner: vagrant
        group: vagrant
        mode: "0644"

    - name: Copy MetalLB L2Advertisement manifest
      copy:
        src: ../k8s/metallb/l2advertisement.yml
        dest: /home/vagrant/metallb/l2advertisement.yml
        owner: vagrant
        group: vagrant
        mode: "0644"

    - name: Apply MetalLB IPAddressPool
      kubernetes.core.k8s:
        state: present
        src: /home/vagrant/metallb/ipaddresspool.yml
        kubeconfig: /home/vagrant/.kube/config

    - name: Apply MetalLB L2Advertisement
      kubernetes.core.k8s:
        state: present
        src: /home/vagrant/metallb/l2advertisement.yml
        kubeconfig: /home/vagrant/.kube/config

  # STEP 21 - Install Nginx Ingress Controller

    - name: Add ingress-nginx Helm repository
      kubernetes.core.helm_repository:
        name: ingress-nginx
        repo_url: https://kubernetes.github.io/ingress-nginx
    
    - name: Install / upgrade Nginx Ingress Controller with specif IP
      kubernetes.core.helm:
        name: ingress-nginx
        chart_ref: ingress-nginx/ingress-nginx
        release_namespace: ingress-nginx
        create_namespace: true
        update_repo_cache: true
        kubeconfig: /etc/kubernetes/admin.conf
        wait: true
        wait_timeout: 300s
        values:
          controller:
            service:
              loadBalancerIP: 192.168.56.90

    - name: Wait additional time for webhook certificates to be fully initialized
      pause:
        seconds: 30

  # STEP 22 — Kubernetes Dashboard
              
    - name: Add kubernetes-dashboard Helm repository
      kubernetes.core.helm_repository:
        name: kubernetes-dashboard
        repo_url: https://kubernetes.github.io/dashboard/
    
    - name: Install / upgrade Kubernetes Dashboard
      kubernetes.core.helm:
        name: kubernetes-dashboard
        chart_ref: kubernetes-dashboard/kubernetes-dashboard
        release_namespace: kubernetes-dashboard
        create_namespace: true
        update_repo_cache: true
        kubeconfig: /etc/kubernetes/admin.conf

    - name: Ensure dashboard manifest directory exists
      file:
        path: /home/vagrant/dashboard
        state: directory
        owner: vagrant
        group: vagrant
        mode: "0755"

    - name: Copy Dashboard admin-user RBAC manifest
      copy:
        src: ../k8s/dashboard/admin-user.yml
        dest: /home/vagrant/dashboard/admin-user.yml
        owner: vagrant
        group: vagrant
        mode: "0644"

    - name: Apply Dashboard admin-user RBAC manifest
      kubernetes.core.k8s:
        state: present
        src: /home/vagrant/dashboard/admin-user.yml
        kubeconfig: /home/vagrant/.kube/config

    - name: Copy Dashboard TLS Secret manifest
      copy:
        src: ../k8s/dashboard/dashboard-tls.yml
        dest: /home/vagrant/dashboard/dashboard-tls.yml

    - name: Apply Dashboard TLS Secret
      kubernetes.core.k8s:
        state: present
        src: /home/vagrant/dashboard/dashboard-tls.yml
        kubeconfig: /home/vagrant/.kube/config

    - name: Copy Dashboard Ingress manifest
      copy:
        src: ../k8s/dashboard/dashboard-ingress.yml
        dest: /home/vagrant/dashboard/dashboard-ingress.yml
        owner: vagrant
        group: vagrant
        mode: "0644"

    - name: Apply Dashboard Ingress manifest
      kubernetes.core.k8s:
        state: present
        src: /home/vagrant/dashboard/dashboard-ingress.yml
        kubeconfig: /home/vagrant/.kube/config
#        wait: true
#        wait_timeout: 60

  # STEP 23 — Istio Installation

    - name: Ensure Istio directory exists
      file:
        path: /home/vagrant/istio
        state: directory
        owner: vagrant
        group: vagrant
        mode: "0755"

    - name: Check if Istio is already extracted
      stat:
        path: /home/vagrant/istio/istio-1.25.2
      register: istio_dir

    - name: Download and extract Istio 1.25.2
      unarchive:
        src: "https://github.com/istio/istio/releases/download/1.25.2/istio-1.25.2-linux-amd64.tar.gz"
        dest: /home/vagrant/istio
        remote_src: true
      when: not istio_dir.stat.exists

    - name: Install istioctl to /usr/local/bin
      copy:
        remote_src: true
        src: /home/vagrant/istio/istio-1.25.2/bin/istioctl
        dest: /usr/local/bin/istioctl
        mode: "0755"

    - name: Copy custom Istio config (config.yml)
      copy:
        src: ../k8s/istio/config.yml
        dest: /home/vagrant/istio/config.yml
        owner: vagrant
        group: vagrant
        mode: "0644"

    - name: Check if Istio is already installed (alternative)
      kubernetes.core.k8s_info:
        kind: Deployment
        namespace: istio-system
        name: istiod
        kubeconfig: /home/vagrant/.kube/config
      register: istio_installed
      #failed_when: false
      #changed_when: false

    - name: Install Istio using config.yml (alternative)
      become_user: vagrant
      command: >
        istioctl install -y -f /home/vagrant/istio/config.yml
      environment:
        KUBECONFIG: /home/vagrant/.kube/config
      when: istio_installed is defined and (istio_installed.resources | default([]) | length) == 0
    
    - name: Wait for istiod deployment to be ready
      kubernetes.core.k8s_info:
        kind: Deployment
        name: istiod
        namespace: istio-system
        kubeconfig: /home/vagrant/.kube/config
        wait: yes
        wait_condition:
          type: Available
          status: "True"
        wait_timeout: 180

    - name: Wait for istio-ingressgateway to be ready
      kubernetes.core.k8s_info:
        kind: Deployment
        name: istio-ingressgateway
        namespace: istio-system
        kubeconfig: /home/vagrant/.kube/config
        wait: yes
        wait_condition:
          type: Available
          status: "True"
        wait_timeout: 180
